Django==3.2
joblib==1.4.2
langchain
langchain_core
matplotlib==3.9.2
networkx==3.4.2
numpy
openpyxl==3.1.3
pandas==2.2.3
psycopg2==2.9.10
pyvis==0.3.2
scikit_learn==1.5.2
tensorflow==2.18.0
torch==2.5.1
django-widget-tweaks
django-compressor
transformers