{% extends "Base.html" %}

{% block content %}
<div class="w-full md:w-1/2 py-16 px-12">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">Invoice Platform</h1>
    <p class="text-gray-500 mb-8">Analyze your invoices, generate insights, and empower your business with ease.</p>

    <form method="post" action="{% url 'users:signup' %}" onsubmit="return displayErrors();">
        {% csrf_token %}
        {% load widget_tweaks %}

        <!-- Username Input -->
        <div class="mb-4">
            {{ form.username|add_class:"w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-400" }}
        </div>

        <!-- Email Input -->
        <div class="mb-4">
            {{ form.email|add_class:"w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-400" }}
        </div>

        <!-- Password Input -->
        <div class="mb-4">
            {{ form.password1|add_class:"w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-400" }}
        </div>

        <!-- Confirm Password Input -->
        <div class="mb-4">
            {{ form.password2|add_class:"w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-400" }}
        </div>

        <!-- Sign Up Button -->
        <div>
            <button class="w-full bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded-lg">
                Sign up
            </button>
        </div>
    </form>

    <!-- Login Link -->
    <div class="mt-4 text-center">
        <p class="text-sm text-gray-600">Already have an account? <a class="text-teal-500 hover:underline"  href="{% url 'users:login' %}">Login</a></p>
    </div>

    
    
    
</div>
{% endblock %}

{% block script %}
<!-- <script>
    function displayErrors() {
        var errorMessages = [];
        {% for field, error_list in form.errors.items %}
        {% for error in error_list %}
            errorMessages.push('{{ field|capfirst }}: {{ error }}');
        {% endfor %}
        {% endfor %}

        if (errorMessages.length > 0) {
            alert("Error(s) found:\n" + errorMessages.join('\n'));
            return false;  // Prevent form submission
        }
        return true;  // Allow form submission
    }
</script> -->
{% endblock %}
