{% extends "_base.html" %}

{% block content %}

<body class="antialiased bg-gradient-to-br from-green-100 to-white">
    <div class="container px-6 mx-auto">
        <div
        class="flex flex-col text-center md:text-left md:flex-row h-screen justify-evenly md:items-center"
        >
        <div class="flex flex-col w-full">
            <div>
            <svg
                class="w-20 h-20 mx-auto md:float-left fill-stroke text-gray-800"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                ></path>
            </svg>
            </div>
            <h1 class="text-5xl text-gray-800 font-bold">Client Area</h1>
            <p class="w-5/12 mx-auto md:mx-0 text-gray-500">
            Control and monitorize your website data from dashboard.
            </p>
        </div>
        <div class="w-full md:w-full lg:w-9/12 mx-auto md:mx-0">
            <div class="w-full md:w-full lg:w-9/12 mx-auto md:mx-0">
            <div class="mx-auto my-36 flex h-[400px] w-[350px] flex-col border-2 bg-white text-black shadow-xl">
                <div class="mx-8 mt-7 mb-1 flex flex-row justify-start space-x-2">
                    <div class="h-7 w-3 bg-[#0DE6AC]"></div>
                    <div class="w-3 text-center font-sans text-xl font-bold"><h1>Register</h1></div>
                </div>
                
                <form method="post" action="{% url 'users:signup' %}" onsubmit="return displayErrors();">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    <div class="flex flex-col items-center">
                        {{ form.username|add_class:"my-2 w-72 border p-2" }}
                        {{ form.email|add_class:"my-2 w-72 border p-2" }}
                        {{ form.password1|add_class:"my-2 w-72 border p-2" }}
                        {{ form.password2|add_class:"my-2 w-72 border p-2" }}
                    </div>
                    <div class="my-2 flex justify-center">
                        <button class="w-72 border bg-[#0DE6AC] p-2 font-sans">Register</button>
                    </div>
                </form>
                <div class="mx-7 my-3 flex justify-between text-sm font-semibold">
                    <div><h1>Already have an account?</h1></div>
                    <h1><a class="underline underline-offset-2" href="{% url 'users:login' %}">Login</a></h1>
                </div>
                
            </div>
            </div>
        </div>
        </div>
    </div>
    <script>
    function displayErrors() {
        var errorMessages = [];
        {% for field, error_list in form.errors.items %}
        {% for error in error_list %}
            errorMessages.push('{{ field|capfirst }}: {{ error }}');
        {% endfor %}
        {% endfor %}
        
        if (errorMessages.length > 0) {
        alert("Error(s) found:\n" + errorMessages.join('\n'));
        return false;  // Prevent form submission
        }
        return true;  // Allow form submission
    }
    </script>
</body>
{% endblock content %}
