{% extends "Base.html" %}

{% block main %}
<body class="bg-gray-100">
    <div class="container mx-auto mt-6">
        <div class="bg-white p-5 rounded shadow">
            <h2 class="text-2xl font-semibold mb-4">Select Area -> Path and Time -> Product</h2>
            <div id="step1">
                {% include 'Area.html' %}
                <button type="button" id="nextToPathAndTime">Next</button>
            </div>
            <div id="step2" style="display:none;">
                {% include 'PathAndTime.html' %}
                <button type="button" id="nextToProduct">Next</button>
            </div>
            <div id="step3" style="display:none;">
                {% include 'Product.html' %}
                <button type="submit">Submit</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#nextToPathAndTime').click(function() {
                window.location.href = '{% url "function1" %}?step=pathandtime';
            });
            $('#nextToProduct').click(function() {
                window.location.href = '{% url "function1" %}?step=product';
            });
        });
    </script>
</body>
{% endblock %}
